<!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active"> Home </a></li>
      <li class="breadcrumb-item"><a routerLink="signup" routerLinkActive="active"> Sign Up </a></li>
      <li class="breadcrumb-item"><a routerLink="register" routerLinkActive="active"> Register </a></li>
   </ol>
</nav> -->

<router-outlet></router-outlet>
<h1>{{ title }}</h1>