<form [formGroup]="form" (submit)="submit()"> 
   <h2>
      Book:
   </h2>
   <div>
      <label>
         First name :
      </label>
      <input formControlName="title"  class="form-control" placeholder="Title" required>   
   </div>
   <div>
      <label>
         Last name :       
      </label>
      <input formControlName="writer" class="form-control" placeholder="Writer" required>  
   </div>
   <div>
      <label>
         Email :
      </label>
      <input formControlName="genre" type="text" class="form-control" placeholder="Genre">
   </div> 
   <button type="submit" class="btn btn-primary mt-4">
      Submit
   </button>  
</form>
   

       
 