<div class="container mt-4">

    <!-- <button class="btn btn-primary" type="button" (click)="onLogoff()">LogOff</button>
    <h1>User Settings:</h1>
    <div> -->
         <ul *ngFor="let user of Users">
            <li scope="col">FName: <a href="">{{user.firstname | uppercase}}</a></li>
            <li scope="col">LName: <a href="">{{user.lastname}}</a></li>
            <li scope="col">Email: <a href="">{{user.email}}</a></li>
            <li scope="col">Option: <a href="">{{user.password}}</a></li>
        </ul>
       
    </div>
    <tbody>